.home-link{
  padding-left: 130px;
  margin-top: 20px;
}

.Breadcrum {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 40px 130px;
  text-transform: capitalize;

}

.Breadcrum img {
  width: 15px;
}
