* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}

.background-img {
  width: 100%;
  min-height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../Assets/TiffinTownBackground2.jpg);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

.header-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 700x;
}

.search-provider {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}
.search-provider input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.search-provider button {
  background: rgb(21, 136, 237);
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}
