.my-orders{
    margin: 50px 70px;
}

.container{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: rgb(230, 227, 227);
    border: 2px solid rgb(94, 71, 67);
    
}

.order-img{
    width: 50px;
}

.my-orders-order p span{
    color: tomato;
}

.my-orders-order p b{
    color: rgb(235, 226, 226);
}

.my-orders-order button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: #454545;
}